
.containers{
    width:100%;
    height:150%;
    color:red;
    padding-top: 10%;
    padding-right: 15%;
    padding-left: 15%;

  }
  .forms
  {
    border: 3px solid lightblue;
    height: 450px;
    width: 100%;
  }
  .forms1
  {
    height: 5%;
    width: 100%;
  }

  .forms-button
  {
    width: 100%;
    height: 100%;
    background-color: black;
    border-color: transparent;
    color: white;
  }
  .form-group1
  {
    text-align: center;
    width: 100%;
    color:red;
    padding-top: 5%;
    padding-bottom: 10px;

  }
  .form-control2
  {
    width: 180px;
    height: 20px;
    border-radius: 3px;
  }



  .form-group2
  {
    width: 100%;
    height: 30px;
    color:blue;
    text-align: center;
    /* padding-left: 35%; */
    padding-top: 10%;
    /* padding-right: 45%; */
  }
  .form-group2 button{
    background-color: black;
    color: white;
    width: 30%;
    height: 35px;
  }
  .form-control1
  {
    width: 200px;
    /* padding-right: 10px; */
    /* float: right; */
    height: 20px;
    border-radius: 3px;
  }
  .titles1
  {
    text-align: center;
    font-size: 90%;
    color: black;
    font-weight: bold;
    width: 35%;
    float: left;
  }
  .form-group1 a{
      padding-left: 10px;
  }
.container3{
    width: 50%;
    padding-top: 50px;
    padding-right: 15px;
    padding-left: 15%;
    float: right;

  }
  .form-group
  {
     padding-top: 2.5%;

  }
  .form-control
  {
    width: 75%;
  }
  .form-button
  {
    padding-left: 45%;
    padding-right: 45%;
    padding-top: 25px;
    padding-bottom: 25px;
  }

.form-group
{
   padding-top: 2.5%;
  /* padding-bottom: 15px; */
}

.form-control
{
  width: 75%;
}

.desc-title
{
 font-size: 50%;
 color: darkgray;
 font-style: italic;
}
.titles
{
font-size: 70%;
 color:black;
 font-weight: bold;
 width: 20%;
 float: left;
}
.form
{
  width: 65%;
  float: right;
}
.post-control
{
  padding-top: 15px;
}
.post-content
{
  border: 1px solid lightgrey;
  background-color: lightgrey;
}
.hide
{
  color: grey;
  font-size: 50%;
}
.submit{
  background-color:black;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  width: 100px;
  color: white;
}
.form-button
{
  padding-left: 45%;
  padding-right: 45%;
}








   .forms-left
  {
    width: 48%;
    height: 100%;
    border: 3px solid darkgray;
    float: left;
  }
  .forms-right
  {
    width: 48.7%;
    border: 3px solid darkgray;
    height: 100%;
    float: right;
  }